{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section" id="{{ site.data.sitetext[site.locale].prodparfum.section | default: "prodparfum" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].prodparfum.title | default: "prodparfum" }}</h2>
          {% if site.data.sitetext[site.locale].prodparfum.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].prodparfum.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
		
		<div class="infoharga">
  
</div>
<div class="cardflex">
<div class="subcardflex">
  <img src="/assets/img/prodparfum/roll-on-1.jpg" alt="parfum roll on aroma kiswah" style="width:100%" />
  <h1>K15W4H</h1>
	<p class="dkripsi">Parfum Roll On K15W4H</p>
	<div class="s-subcardflex"><p class="mdl">Model : Roll On</p><p class="vlm">Volume : 10 ml</p></div>
  <p class="price">IDR.20.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24365144210/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>  
<div class="subcardflex">
  <img src="/assets/img/prodparfum/roll-on-2.jpg" alt="parfum roll on aroma kasturi kijang" style="width:100%" />
  <h1>K45TUR1 K1J4NG</h1>
  <p class="dkripsi">Parfum Roll On K45TUR1 K1J4NG</p>
	<div class="s-subcardflex"><p class="mdl">Model : Roll On</p><p class="vlm">Volume : 10 ml</p></div>	
  <p class="price">IDR.20.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25515148288/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div> 
<div class="subcardflex">
  <img src="/assets/img/prodparfum/roll-on-3.jpg" alt="parfum roll on aroma kasturi putih" style="width:100%" />
  <h1>K45TUR1 PUT1H</h1>
	<p class="dkripsi">Parfum Roll On K45TUR1 PUT1H</p>
	<div class="s-subcardflex"><p class="mdl">Model : Roll On</p><p class="vlm">Volume : 10 ml</p></div>	
  <p class="price">IDR.20.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25515144854/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div> 
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-01.jpg" alt="parfum isi ulang/refill spray aroma cuddle" style="width:100%" />
  <h1>CUDDL3</h1>
	<p class="dkripsi">Parfum Spray CUDDL3</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.45.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25215150111/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="https://down-id.img.susercontent.com/file/id-11134207-7r98v-lq2p0hdjvu2u2a" alt="parfum refill/isi ulang spray aroma benetton sport" style="width:100%" />
  <h1>B3N3TT0N SP0RT</h1>
	<p class="dkripsi">Parfum Spray B3N3TT0N SP0RT</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.51.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25365149940/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma dunhill red" style="width:100%" />
  <h1>DUNH1LL R3D</h1>
	<p class="dkripsi">Parfum Spray DUNH1LL R3D</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.73.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24006449511/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma jo malone english pear and freesia" style="width:100%" />
  <h1>J0 M4L0N3 3F</h1>
	<p class="dkripsi">Parfum Spray J0 M4L0N3 3F</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.56.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24208530950/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma angel heart" style="width:100%" />
  <h1>4N9EL H34RT</h1>
	<p class="dkripsi">Parfum Spray 4N93L H34RT</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.55.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25758524240/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma taylor swift" style="width:100%" />
  <h1>T4YL0R 5W1FT</h1>
	<p class="dkripsi">Parfum Spray T4YL0R 5W1FT</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.52.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24656457789/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma bvlgari aqua" style="width:100%" />
  <h1>BVL94R1 4QU4</h1>
	<p class="dkripsi">Parfum Spray BVL94R1 4QU4</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.55.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25106457002/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma vanilla chocho" style="width:100%" />
  <h1>V4N1LL4 CH0CH0</h1>
	<p class="dkripsi">Parfum Spray V4N1LL4 CH0CH0</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.50.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25806448836/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma black opium" style="width:100%" />
  <h1>BL4CK 0P1UM</h1>
	<p class="dkripsi">Parfum Spray BL4CK 0P1UM</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.51.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24456450171/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma ch 212 men" style="width:100%" />
  <h1>CH 212 M3N</h1>
	<p class="dkripsi">Parfum Spray CH 212 M3N</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.53.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25456448666/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma selena gomez" style="width:100%" />
  <h1>53L3N4 90M35</h1>
	<p class="dkripsi">Parfum Spray 53L3N4 90M35</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.49.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25306444055/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma davidoff women" style="width:100%" />
  <h1>D4V1D0FF W0M3N</h1>
	<p class="dkripsi">Parfum Spray D4V1D0FF W0M3N</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.55.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24806443805/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma ashanty" style="width:100%" />
  <h1>45H4NTY</h1>
	<p class="dkripsi">Parfum Spray 45H4NTY</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.51.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24806453137/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma harazuku love" style="width:100%" />
  <h1>H4R4ZUKU L0V3</h1>
	<p class="dkripsi">Parfum Spray H4R4ZUKU L0V3</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.49.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/24806449632/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>
<div class="subcardflex">
  <img src="/assets/img/prodparfum/spray-02.jpg" alt="parfum isi ulang/refill spray aroma D & G" style="width:100%" />
  <h1>D 8 9</h1>
	<p class="dkripsi">Parfum Spray D 8 9</p>
	<div class="s-subcardflex"><p class="mdl">Model : Spray</p><p class="vlm">Volume : 35 ml</p></div>	
  <p class="price">IDR.51.000,-</p>  
  <p><a href="https://shopee.co.id/product/1151407897/25756444677/" target="_blank" rel="noopener noreferrer"><button>Beli</button></a></p>
</div>	
	
</div>
	  
    </div>
  </section>
{% endif %}

