---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#045e51" }} !default;
$secprimary: {{ site.data.style.highlight | default: "#f4a918" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/post.scss";

@media only screen and (max-width: 600px) {
	header.masthead .intro-text .intro-lead-in {font-size: 14px; margin-bottom: 16px;}
	header.masthead .intro-text .intro-heading {font-size: 12px; margin-bottom: 16px;}
	header.masthead .intro-text {padding-top: 285px; padding-bottom: 258px;}
	.page-section h2.section-heading {font-size: 30px;}
	.page-section {padding: 50px 0;}
	h4 {font-size: 1.1rem;}
	.portfolio-modal .modal-content h2 {font-size: 1.2em;}
	.btn-xl {font-size: 12px; padding: 12px 10px;}	
}